<nav class="flex flex-wrap items-center justify-center text-base md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700">
  <a class="mr-5 hover:text-white">First Link</a>
  <a class="mr-5 hover:text-white">Second Link</a>
  <a class="mr-5 hover:text-white">Third Link</a>
  <a class="mr-5 hover:text-white">Fourth Link</a>
</nav>
