<footer>
  <div class="border-t border-gray-800">
    <div class="container flex flex-col flex-wrap px-5 py-4 mx-auto sm:flex-row">
      <p class="text-sm text-center text-gray-600 sm:text-left">© 2020 Andrew Mason —
        <a href="https://twitter.com/andrewmcodes" class="ml-1 text-gray-500" target="_blank" rel="noopener noreferrer">@andrewmcodes</a>
      </p>
      <span class="w-full mt-2 text-sm text-center text-gray-600 sm:ml-auto sm:mt-0 sm:w-auto sm:text-left">
        Tools are fun until they aren't
      </span>
    </div>
  </div>
</footer>
